//Fonts
    $fontMain: 'Roboto', sans-serif;

//Colors
    $textColorMain: #797979;

    $white: #fff;
    $black: #000;
    $red: #f38181;
    $headFoot: #374249;
    $headings: #374249;
    $hoverColor: #cfd1d3;
    $bkg: #f3f7f9;

//Responsive
    $xlSize: 1600px;
    $desktopWidth: 1200px;
    $tabletWidth: 780px;
    $mobileWidth: 480px;
    $xsSize: 160px;